<include file="Public/header"/>
<body>
<div class="panel admin-panel margin-top">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>添加菜单</strong></div>
  <div class="body-content form-x">   
      <div class="form-group">
        <div class="label">
          <label>上级菜单：</label>
        </div>
        <div class="field">
          <select class="input w50"  id="status">
				<option value="0">作为一级菜单</option>	
			<volist name="res" id="vo">
				 	<option value="{$vo.id}" <if condition="$wx.status eq $vo.id ">selected="selected"</if>>{$vo.name}</option>
			</volist>
		 </select>        
          <div class="tips"></div>
        </div>
      </div> 
       <div class="form-group">
        <div class="label">
          <label>菜单名称：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" id="name" value="{$wx.name}" />
          <div class="tips"></div>
        </div>
      </div>       
      <div class="form-group">
        <div class="label">
          <label>菜单类型：</label>
        </div>
        <div class="field">
          <select name="wx_type" class="input w50" id="type">
				 <option value="none" >无事件的一级菜单</option>
                 <option value="view"  <if condition="$wx.wx_type eq 'view'">selected="selected"</if>>超链接</option>
                 <option value="click" <if condition="$wx.wx_type eq 'click'">selected="selected"</if>>点击事件</option>
          </select> 
        </div>
      </div>
	  <div class="form-group" id="chenage_status">
        <div class="label">
          <label id="change_event">事件：</label>
        </div>
        <div class="field">
          <input type="text" name="menu_change" value="{$wx.menu_change}" id="url" class="input w80" />
          <input type="hidden" name="id" value="{$wx.id}" />
          <div class="tips"></div>
        </div>
      </div>  
        <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" id="modify_wxmenu" type="submit"> 提交</button>
        </div>
      </div>
  </div>
</div>
</body>
<script src="__PUBLIC__/js/wechat.js"></script>
</html>