<!DOCTYPE html>
<html>
  <head>
    <title>错误</title>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
<link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css">
<script src="__PUBLIC__/js/isPhone.js"></script>
<style>
	.demos-content-padded{
		text-align: center;
		margin-top: 180px;
	}
	p,a{
		margin-top: 10px;
	}
</style>
  </head>
<body >
    <div class='demos-content-padded'>
      <div class="icon-box">
        <i class="weui-icon-warn weui-icon_msg"></i>
        <div class="icon-box__ctn">
          <p class="icon-box__desc">你没有权限查看</p>
          <br /><br /><br />
          <a href="./shop" class="weui-btn weui-btn_disabled weui-btn_default">确定</a>
        </div>
      </div>
    </div>
<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/swiper.min.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/city-picker.min.js"></script>
<script>
  $(function() {
    FastClick.attach(document.body);
  });
</script>

  </body>
</html>
