<include file="Public/header"/>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder">新手教程</strong></div>
  <table class="table table-hover text-center">
    <tr>
      <th>ID</th>     
      <th>名称</th>
	  <th>图片</th>
	  <th>创建时间</th>
	  <th>操作</th>
    </tr>
    <tr>
      <td style="width:5%">1</td>
      <td style="width:10%">新手教程</td>   
	  <td style="width:60%"><img src="__PUBLIC__/uploads/{$img.img}" width="100" height="280"  alt="" /></td>	
	  <td style="width:10%">{$img.createtime|date='Y-m-d',###}</td>	
      <td>
      <div class="button-group">
      <a type="button"  class="button border-main" href="{:U('Admin/image/add_img',array('id'=>$img['id']))}"><span class="icon-edit"></span>更换图片</a>
      </div>
      </td>
    </tr> 
  </table>
</div>
</body>
</html>